<?xml version="1.0" encoding="UTF-8"?>
<!-- Managed by Ansible -->
<Context antiResourceLocking="false" privileged="true">
  <Valve className="org.apache.catalina.valves.RemoteAddrValve"
         allow="{{ tomcat_manager_allowed_ips }}" />
</Context>
