<?xml version="1.0" encoding="UTF-8"?>
<!-- Managed by Ansible -->
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">

<role rolename="manager-gui" />
<role rolename="admin-gui" />

<!-- Manager user: can access /manager/html only -->
<user username="{{ tomcat_manager_user }}" password="{{ tomcat_manager_password }}" roles="manager-gui" />

<!-- Admin user: can access both /manager/html and /host-manager/html -->
<user username="{{ tomcat_admin_user }}" password="{{ tomcat_admin_password }}" roles="manager-gui,admin-gui" />

</tomcat-users>
