[Unit]
Description=Apache Tomcat {{ tomcat_version }}
After=syslog.target network.target

[Service]
Type=forking

User={{ tomcat_user }}
Group={{ tomcat_group }}

Environment=JAVA_HOME={{ tomcat_java_home }}

Environment=CATALINA_HOME={{ tomcat_install_dir }}
Environment=CATALINA_BASE={{ tomcat_install_dir }}
Environment=CATALINA_PID={{ tomcat_install_dir }}/temp/tomcat.pid

ExecStart={{ tomcat_install_dir }}/bin/catalina.sh start
ExecStop={{ tomcat_install_dir }}/bin/catalina.sh stop

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
